@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gui-accent-color: #ff9828;
    --gui-dashed-border: #808080;

    /* proposalCar */
    --gui-link-icon: #ff9828;
    --gui-arrow-icon: gray;
    --gui-status-text: white;
    --gui-text-primary: #010a12;
    --gui-text-secondary: #6d7788;
    --gui-border-tabs: #c5cbd3;
    --gui-border-tab: #586474;
    --gui-bg-card: #fff;
    --gui-shadow-card: 0 0 70.6977px hsl(0deg 0% 100% / 12%);
    --gui-status-completed: #39e27f;
    --gui-status-ongoing: #f2ca4e;
    --gui-status-canceled: #dc4747;
    --gui-status-default: #353944;

    /* filterList */
    --gui-filter-option-icon: #ffffff;
    --gui-filter-option-icon-selected: #ffffff;
    --gui-filter-option-textPrimary: #ffffff;
    --gui-filter-option-textPrimary-selected: #ffffff;
    --gui-filter-option-textSecondary: #c8c8c8;
    --gui-filter-option-textSecondary-selected: #ffffff;
    --gui-filter-option-bgActive: var(--gui-accent-color);
    --gui-filter-option-bgDefault: #1f272e;
    --gui-filter-option-bgHover: #171e24;
    --gui-filter-option-bgSelected: #2f3a45;
    --gui-filter-option-tooltip-text: #010a12;
    --gui-filter-option-tooltip-bg: #fff;
    --gui-filter-option-tooltip-icon: #fff;
    --gui-shadow-filter-option: 0px 0px 70.6977px rgba(255, 255, 255, 0.12);
    --gui-shadow-tooltip-content: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;

    /* select */
    --gui-select-label: #ffffff;
    --gui-select-button-bg: #1f272e;
    --gui-select-button-text: #ffffff;
    --gui-select-button-icon: #ffffff;
    --gui-select-box-bg: #1f272e;
    --gui-select-box-bgActive: #2f3a45;
    --gui-select-box-bgHover: #2f3a45;
    --gui-select-box-text: #ffffff;
    --gui-select-box-textActive: #ffffff;
    --gui-select-box-textHover: #ffffff;

    /* tabgroup */
    --gui-tabgroup-listBg: #010a12;
    --gui-tabgroup-tabBg: #010a12;
    --gui-tabgroup-tabBgActive: var(--gui-accent-color);
    --gui-tabgroup-tabText: #939393;
    --gui-tabgroup-tabTextActive: #fff;
    --gui-shadow-tabgroup: 0px 0px 40px rgba(255, 255, 255, 0.28);

    /* newsCard */
    --gui-newsCard-title: #ffffff;
    --gui-newsCard-description: #c8c8c8;
    --gui-newsCard-date: #c8c8c8;
    --gui-newsCard-link: var(--gui-accent-color);
    --gui-newsCard-icon: var(--gui-accent-color);
    --gui-newsCard-bg: #010a12;
  }
  .dcspark {
    --gui-text-primary: #010a12;
    --gui-text-secondary: #6d7788;
    --gui-border-tabs: #c5cbd3;
    --gui-border-tab: #586474;
    --gui-bg-card: #fff;
    --gui-shadow-card: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  .flint {
    --gui-text-primary: #010a12;
    --gui-text-secondary: #6d7788;
    --gui-border-tabs: #c5cbd3;
    --gui-border-tab: #586474;
    --gui-bg-card: #fff;
    --gui-shadow-card: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  .milkomeda {
    --gui-accent-color: #ff9828;
    --gui-text-primary: #fff;
    --gui-text-secondary: #9ca3af;
    --gui-border-tabs: #4b5563;
    --gui-border-tab: #fff;
    --gui-bg-card: #010a12;
    --gui-shadow-card: 0 0 70.6977px hsl(0deg 0% 100% / 12%);
  }
}
